# Question 1

Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

In [2]:
shopping = ['spam', 'ham', 'eggs', 'ham']

- Extract the second element of the list.

In [3]:
shopping[1]

'ham'

- Extract the first to third (inclusive) element of the list.

In [4]:
shopping[:3]

['spam', 'ham', 'eggs']

- Extract only the last element of the list.

In [5]:
shopping[-1]

'ham'

# Question 2

Set up a list with the following elements:

stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [10]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

- Append Edinburgh Waverley to the end of the list

In [11]:
stops.append("Edinburgh Waverley")

In [13]:
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

- Add "Queen Street" to the start of the list

In [14]:
stops.insert(0, "Queen Street")

In [16]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

- Find out what index "Croy" is at in the list

In [17]:
index = stops.index("Croy")

In [18]:
index

1

- Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")

In [19]:
stops.insert(4, "Polmont")

In [20]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

- Remove "Haymarket" from the list of stops

In [21]:
stops.remove("Haymarket")

In [22]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

- Remove all items from stops

In [23]:
stops.clear()

In [24]:
stops

[]

# Question 3

In [26]:
person = {"name": "Steph", 
          "age": 31, 
          "Instructor" : True}

- Return the keys, values and items from this dictionary

In [31]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

- Take out only the name from it

In [33]:
person['name']

'Steph'

- Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

In [34]:
person.update({'email': 'steph@codeclan.com'})

In [36]:
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

- Delete the job description from the dictionary (Hint: look up the del function)

In [37]:
del person['Instructor']

In [38]:
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

# Question 4

In [39]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

- Print out a list of the even integers:

In [50]:
[n for n in numbers if n % 2 == 0]

[6, 2, 2, 6]

- Print the difference between the largest and smallest value:

In [54]:
max(numbers) - min(numbers)

98

- Print True if the list contains a 2 next to a 2 somewhere.

In [55]:
any(numbers[i] == numbers[i+1] for i in range(len(numbers)-1))

True

- Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [69]:
def my_sum(my_list):
    it = iter(my_list)
    return sum(x for x in it
               if x != 6 or 7 not in it)

In [71]:
my_list = [11, 6, 4, 99, 7, 11]

In [72]:
my_sum(my_list)

22

# Question 5

In [51]:
python_is_fun = True
python_is_weird = True

In [59]:
def my_function(x, y):
    if x == True or y == True:
        print("Woo Python!!")
    
    else:
        print("Python is not for me")

In [65]:
my_function(False, False)

Python is not for me

# Question 6

In [ ]:
total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

In [ ]:
def chicken(chickens = []):
    total_eggs += chicken['eggs']